*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
}
.container{
    width: 100vw;
    height: auto;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.flip-card {
    width: 50%;
    height: 200px;
    background: #eee;
    position: relative;
    perspective: 100vw;
    float: left;
}


.flip-card .front, .flip-card .back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    transition: .3s ease;
    backface-visibility: hidden;  /*hide back of the card*/
    border: 2px solid #333;
    box-shadow: 0 0 8px rgba(0,0,0,.5);
}

.flip-card:hover .front{
    transform: rotateY(180deg) scale(0.5);
}

.flip-card .back {
    background-image: url(alfa.png) ;
    color: #fff;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg) scale(0.1);
}

.flip-card:hover .back {
    transform: rotateY(360deg) scale(1);

}

.epl .arsenal .front{
    background-image: url(images/arsenal.png);
    box-shadow: -10px 0 5px red;
}
.epl .arsenal .back{
    background-image: url(images/tour-emirates-stadium.jpg);
    

}

.epl .city .front{
    background-image: url(images/mancitylogo.png);
    box-shadow: 10px 0 5px skyblue;

}
.epl .city .back{
    background-image: url(images/manchesterstadium.jpg);
}

.liga .barca .front{
    background-image: url(images/barca.png);
    box-shadow: -10px 0 5px purple;

}

.liga .barca .back{
    background-image: url(images/campnou.jpg)
}

.liga .madrid .front{
    background-image: url(images/real-madrid-clipart-logo-kit-1.jpg);
    box-shadow: 10px 0 5px #fff;

}

.liga .madrid .back{
    background-image: url(images/Santiagobernabeupanoramav2.jpg)
}

@media (min-width: 600px) and (max-width:992px) {
    .flip-card {
        width: 33.33%;
    }
}

@media (min-width: 992px) {
    .flip-card {
        width: 25%;
    }
}

@media screen and (max-width: 500px) {
    body{
        margin: 10px;
        height: auto;
    }
    .container{
        width: 90%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: #eee;
        margin: 15px auto;
        padding: 0px;
        border-radius: 50px;
    }
    .flip-card{
        margin: 5px;
        width: 90%;
        height: 100%;
        border-radius: 50px;
        overflow: hidden;
    }

    .epl{
        background: linear-gradient(45deg, skyblue, #000, red);
    }
    .liga{
        background: linear-gradient(45deg, #eee, #000, brown);
    }
    
.epl .arsenal .front{
    box-shadow: inset 0 0 10px red;
}

.epl .city .front{
    box-shadow: inset 0 0 10px blue;
}

.liga .barca .front{
    box-shadow: inset 0 0 10px brown;

}
.liga .madrid .front{
    box-shadow: inset 0 0 10px #fff000;

}

}